.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
.ftco-section {
    padding: 7em 0; 
}

.btn-template{
    color: #fff;
    border-color: #00DCEE;
    background: #00DCEE;
}

.contact-wrap {
    background: #e8edf0; }

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }

.dbox {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 20px; 
}
@media (min-width: 768px) {
    .dbox {
    margin-bottom: 0;
    padding: 0; } 
}
.dbox p {
    margin-bottom: 0; 
}
    .dbox p span {
    font-weight: 500;
    color: #000; 
}
    .dbox p a {
    color: #2553b8; 
}
.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00DCEE;
    margin: 0 auto;
    margin-bottom: 20px; 
}
    .dbox .icon span {
    font-size: 20px;
    color: #fff; 
}
.dbox .text {
    width: 100%; 
}

#map {
    width: 100%; }
    @media (max-width: 767.98px) {
      #map {
        height: 300px; } }
